@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;

}

.container{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 100vh;

}
.notes-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.note.new{
    background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);;
}
textarea{
    font-family: 'Dancing Script', cursive;
    font-size: 1em;
    background-color: inherit;
    border: none;
    resize: none;
    outline: none;
}
.save{
    border: none;
    text-transform: capitalize;
    font-size: 1rem;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}
.save:hover{
    cursor: pointer;
    background-color: rgb(187, 185, 185);
    transition: all 0.3s linear;
}
.note{
    background-image: linear-gradient(-225deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);   
     margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
    font-weight: bolder;
}
.note-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delete-icon{
    font-size: 1.5rem;
    cursor: pointer;
}
.delete-icon:hover{
    color: red;
    transition: all 0.2s linear;
}
.search{
    display: flex;
    align-items: center;
    background-color: rgb(211, 209, 209);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1.5em;
}
.search-icon{
    padding: 3px 3px 3px 3px;
    margin-right: 5px;
    font-size: 1em;
}
.search input{
    font-family: 'Dancing Script', cursive;
    border: none;
    background-color: inherit;
    outline: none;
    width: 100%;
}
.header-container{
    padding-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}
.header-container h1{
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
}
.dark-mode{
    background-color: rgb(39, 37, 37);
}
.dark-mode h1{
    color: white;
}